<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robotix Club</title>
    <link href="Home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="shortcut icon" href="E:\Robotix-Club-Website\src\assets\imagesMAIN-PAGE\favicon.png" type="image/x-icon">
</head>
<body>

    <main>
        <img src="../../assets/Lcorner.png" id="topLeft">
        <div class="content">
            <img src="../../assets/home_robot.png" id="homeRobot">
            <div id="rhs">
                <div id="clubName">ROBOTiX<br>CLUB</div>
                <hr>
                <div id="details">The Robotix Club of NIT RAIPUR is a<br>vibrant and innovative community that<br>Brings together students with a passion<br>for robotics, automation, and technology.<br>Founded on the principles of<br>collaboration, creativity, and hands-on<br>learning. The Club serves as a dynamic<br>hub where students explore the<br>facinating world of robotics through<br>various projects, workshops,<br>competitions and events.</div>
            </div>
        </div>
        <div id="bottomCanva">
            <img src="../../assets/Bottom.png" id="bottom">
            <img src="../../assets/Bottom.png" id="bottom">
        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="script.js"></script>
</body>
</html>
